<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">

         <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
         <title>Welcome {{.Name}}</title>
   </head>
   <body>
      <h1 class="loginHeader">Sign In</h1>
      <form action="/login" method="post">
         <div class="fieldContainer">
            <input class="usernameInput" onfocus="this.value=''" onblur="true" value="Username..." type="text" name="username">
            <input class="passwordInput" onfocus="this.value=''" value="Password..." type="text" name="password">
         </div>
         <input class="loginButton" type="submit" value="Login">
     </form>
   </body>
</html>